html {
    margin: 20px;
    padding: 0%;
    font-size: 16px;
    background-color: #DFE3EE;
    font-family: klavika sans-serif;
}

/* Code for feed page */
.avatar {
    height: 100px;
    filter: drop-shadow(5px 5px 0 #999);
}

.header-logo {
    height: 50px;
    filter: drop-shadow(5px 5px 0 black);
}
  
input.post-field {width: 55rem;}
input.comment-field {width: 15rem; text-align: center;}

/* On screens that are 992px or less */
@media screen and (max-width: 992px) {
    input.post-field {width: 35rem;}

    #login-container {
        display: grid;
        position: absolute;
        width: calc(100vw - 50px);
        height: calc(100vh - 50px);
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "textbox"
                             "login";
        justify-items: center;
        align-items: center;
        row-gap: 25px;
    }
    #textbox{
        grid-area: textbox;
        padding: 1rem;
    }
  }
  
/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
    input.post-field {width: 15rem;}
}

input.submit {
    font-size: 1.25rem;
    text-align: center;
}

.logo {
    padding: 10px 100px;
    font-size: 2rem;
    text-align: center;
    outline: none;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 15px;
    border: 5px solid whitesmoke;
}

.blue-button {
    background-color: #1877f2;
    padding: 10px 15px;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 15px;
    box-shadow: 2px 5px #000;
}

.comment-button {
    background-color: #1877f2;
    font-size: 0.5rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 15px;
    box-shadow: 2px 5px #000;
}


.blue-button:hover    {background-color: darkblue;}
.comment-button:hover {background-color: darkblue;}

.blue-button:active {
    background-color: darkblue;
    box-shadow: 1px 1px #000;
    transform: translateY(4px);
}

.feed-container {
    position: absolute;
    display: grid;
    width: calc(100vw - 20px);
    grid-template-rows: auto auto auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "feed-header"
                         "feed-profile"
                         "feed-submit-post"
                         "feed-posts";
    margin: auto;
    top: 0; bottom: 0; left: 0; right:0;
    row-gap: 10px;
    align-items: flex-start;
}

#feed-header {
    grid-area: feed-header;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
    padding: 0;
    align-items: center;
    border-bottom: 2px solid #404040;
}

#feed-header>#left {
    grid-area: left;
    text-align: left;
    padding: 10px;
    justify-items: end;
}

#feed-header>#right {
    grid-area: right;
    text-align: right;
    padding: 10px 10px 20px 10px;
    justify-items: start;
}

#feed-profile {
    grid-area: feed-profile;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas: "pic info";
    padding: 10px;
    text-align: center;
    justify-items: center;
    align-items: center;
    border-bottom: 2px solid #404040;
}

#feed-submit-post {
    grid-area: feed-submit-post;
    text-align: center;
}

#feed-profile>#profile-pic {
    grid-area: pic;
}

#feed-profile>#profile-info {
    grid-area: info;
    font-size: 2rem;
}

#feed-posts {
    grid-area: feed-posts;
    margin:0 ;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow: auto;
    text-align: center;
    align-self: flex-start;
}

#feed-posts>.section {
    grid-area: 1/1/2/2;
    padding: 10px;
}

#feed-posts>.post {
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: pink;
    color: #404040;
    border-radius: 15px;
    font-size: 1.25rem;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "user-info user-info user-info"
                         "post-info post-info post-info"
                         "sub-comments sub-comments sub-comments"
                         "comments comments comments";
    justify-items: center;
    align-items: center;                     
   }

.user-info {
    grid-area: user-info;
    text-align: center;
}

.post-info {
    grid-area: post-info;
    text-align: center;
    text-justify: inter-word;
}

.sub-comments {
    grid-area: sub-comments;
}

.comments {
    grid-area: comments;
    text-align: center;
}

.comment-box {
    width: calc(100vw - 100px);
    font-size: 0.8625rem;
    border-radius: 12px;
    background-color: whitesmoke;
    color: #404040;
}
