html                {background-color: #121212; color: #DFE3EE;}

input.post-field    {filter: drop-shadow(2px 2px 1px rgba(223, 227, 238, 0.5))}
input.comment-field {filter: drop-shadow(2px 2px 1px rgba(223, 227, 238, 0.5))}

h1                  {color: #0080ff; filter: drop-shadow(2px 2px 1px rgba(00, 128, 255, 0.5))}
    
.blue-button        {box-shadow: 2px 5px rgba(223, 227, 238, 0.5);}
.blue-button:active {box-shadow: 1px 1px rgba(223, 227, 238, 0.5);}

.mode-button        {box-shadow: 2px 5px #DFE3EE;}

.button             {color: #DFE3EE}

.comment-box        {background-color: #DFE3EE;}

.comment-button     {color: #DFE3EE; border: 1px solid #DFE3EE;}

.header-logo        {filter: drop-shadow(5px 5px 0 rgba(223, 227, 238, 0.5));}

.main-logo          {filter: drop-shadow(2px 2px 1px rgba(223, 227, 238, 0.5))}

.pink               {color: #121212;}

#feed-posts>.post   {filter: drop-shadow(2px 2px 1px rgba(223, 227, 238, 1.0))}

#login-message      {color: black}

#login-forms        {background-color: #dfe3ee;}

#pass_err, #email_err, #first_err, #last_err, #dob_err {color: #FFFF40;}

/* On screens that are 992px or less */
@media screen and (max-width: 992px) {
    input.post-field {filter: drop-shadow(2px 2px 1px rgba(223, 227, 238, 0.5))}
}
  
/* On screens that are 600px or less */
@media screen and (min-width: 0) and (max-width: 500px) {
    input.post-field {filter: drop-shadow(2px 2px 1px rgba(223, 227, 238, 0.5))}
}