html                {background-color: #DFE3EE; color: #000000;}

input.post-field    {filter: drop-shadow(2px 2px 1px rgba(18, 18, 18, 0.068))}
input.comment-field {filter: drop-shadow(2px 2px 1px rgba(18, 18, 18, 0.5))}

h1                  {color: #1877f2; filter: drop-shadow(2px 2px 1px rgba(256, 256, 256, 1.0))}
    
.blue-button        {box-shadow: 2px 5px #000000;}
.blue-button:active {box-shadow: 1px 1px #000000;}

.mode-button        {box-shadow: 2px 5px #000000;}

.button             {color: #FFFFFF;}

.comment-box        {background-color: #f5f5f5;}

.comment-button     {color: #f5f5f5; border: 1px solid #f5f5f5;}

.header-logo        {filter: drop-shadow(5px 5px 0 black);}

.main-logo          {filter: drop-shadow(2px 2px 1px rgba(64, 64, 64, 1.0))}

#feed-posts>.post   {filter: drop-shadow(2px 2px 1px rgba(64, 64, 64, 1.0));}

#login-forms        {background-color: #ffffff;}

#pass_err, #email_err, #first_err, #last_err, #dob_err      {color: #FF0000;}

/* On screens that are 992px or less */
@media screen and (max-width: 992px) {
    input.post-field {filter: drop-shadow(2px 2px 1px rgba(18, 18, 18, 0.5));}
}
  
/* On screens that are 500px or less */
@media screen and (min-width: 0) and (max-width: 500px) {
    input.post-field {filter: drop-shadow(2px 2px 1px rgba(18, 18, 18, 0.5));}
}